.elementStats {
	display: flex;
	justify-content: space-between;
	align-items: center;

	& .leftBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& div {
		color: #A8ABAF;
		margin-right: 10px;
		display: flex;

		& span {
			color: #202E48;
			font-size: 15px;
			line-height: 18px;
			font-family: 'Roboto Regular';
			margin: 0 7px;
		}
	}

	& .favourites button {

		&.active,
		&:hover {
			color: #E84755;
		}
	}
}

.likes {
	display: flex;
	align-items: center;
	white-space: nowrap;
	color: #5E687B;
	margin-right: 0;
	height: 20px;
	width: 100%;
	overflow: hidden;
	justify-content: flex-end;

	& .likesCountBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	& .likesNumber {
		color: #202E48;
		font-size: 15px;
		line-height: 18px;
		font-family: 'Roboto Regular';
		margin: 0 7px;
		margin-top: 0px;
		opacity: 1;
		padding: 5px 0;
		box-sizing: border-box;
	}

	& button {
		color: #A8ABAF;

		&:first-child:hover {
			color: #AA0F0F;
		}

		&:last-child:hover {
			color: #0F971D;
		}
	}
}

.positive {
	color: #0F971D !important;
}

.negative {
	color: #AA0F0F !important;
}

.hidden {
	display: none;
}

@media screen and (max-width: 768px) {
	.elementStats {
		padding: 10px 8px 10px 8px;
	}
}