.forecast {
	margin-top: 20px;
	border: 1px solid #F4F4F4;
	border-radius: 7px;

	& .forecastHeader {
		padding: 11px 21px 8px 21px;
		border-bottom: 1px solid #F4F4F4;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& .gameInfo,
		& .matchDate {
			font-size: 14px;
			line-height: 17px;
			color: #818181;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		& .matchDate {
			text-align: right;
		}

		& .gameInfo {
			& .sportName {
				color: #232324;
			}

			&>img {
				width: 17px;
				height: 17px;
				margin-right: 4px;
			}

			& p {
				margin-right: 4px;
			}

			& .gameName {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
		}
	}

	& .forecastContent {
		padding: 22px 0 25px 0;

		&>div {
			padding-left: 21px;
			padding-right: 21px;

			&.mathPreview {
				padding: 0 21px 0 0;
				display: flex;
				align-items: center;

				& .profit {
					padding: 6px 13px 4px 22px;
					border-radius: 0px 5px 5px 0px;
					font-family: 'Roboto Bold';
					font-size: 14px;
					line-height: 17px;
					margin-right: 7px;
					white-space: nowrap;
					margin-top: 2px;

					&.positive {
						background: #0F971D;
						color: #FFFFFF;
					}

					&.negative {
						background: #F2F2F2;
						color: #393F4D;
					}
				}

				& .matchTitle {
					font-family: 'Roboto Medium';
					font-size: 24px;
					line-height: 29px;
					color: #000000;
				}
			}

			&.matchStats {
				padding-top: 16px;
				padding-bottom: 12px;
				display: flex;
				flex-direction: column;

				& .profitStats {
					display: flex;
					flex-wrap: wrap;

					& .profitStat {
						font-size: 14px;
						line-height: 17px;
						color: #343638;
						margin-right: 18px;
						display: flex;
						align-items: center;
						white-space: nowrap;
						margin-bottom: 12px;
						& span {
							font-family: 'Roboto Bold';
							color: #232324;
							background: rgba(15, 151, 29, 0.07);
							border-radius: 7px;
							padding: 4px 6px 3px 5px;
							margin-left: 3px;
							white-space: nowrap;
						}
					}
				}

				& .matchStart {
					font-size: 14px;
					line-height: 17px;
					color: #343638;
				}
			}

			&.matchDescription {
				font-family: 'Roboto';
				font-size: 16px;
				line-height: 22px;
				color: #000000;
				opacity: 1;

				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
		}
	}

	& .forecastFooter {
		padding: 9px 21px;
		border-top: 1px solid #F4F4F4;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& .userStats {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 10px;

			& .userInfo,
			& .userMatches,
			& .userProfit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 14px;
				line-height: 17px;				
			}

			& .userInfo {
				& img {
					width: 25px;
					height: 25px;
					margin-bottom: 2px;
					border: 1px solid #0000001A;
					border-radius: 2px;
					margin-right: 9px;
				}

				& .userNickName {
					color: #343638;
				}
			}

			& .userMatches {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& img {
					margin-right: 2.5px;
					

					&:nth-child(6) {
						margin: 0 !important;
					}
				}

			}

			& .userProfit {
				color: #818181;

				& span {
					margin-left: 6px;

					&.positive {
						color: #0F971D;
					}

					&.negative {
						color: #AA0F0F;
					}
				}
			}

			& .slash {
				margin: 0 8.5px;
				color: #818181;
			}
		}
	}
}


@media screen and (max-width: 1700px) {
	.forecastFooter .userStats .userProfit p{
		display: none;
	}
}
@media screen and (max-width: 1600px) {
	.forecastFooter .userStats .userProfit p{
		display: block;
	}
}


@media screen and (max-width: 1024px) {

	.forecastHeader,
	.forecastFooter {
		padding-left: 13px;
		padding-right: 13px;
	}

	.forecastContent {
		&>div {
			padding-left: 13px;
			padding-right: 13px;
		}
	}
}

@media screen and (max-width: 768px) {
	.forecast {

		& .forecastHeader,
		& .forecastFooter {
			padding-left: 8px;
			padding-right: 8px;
		}

		& .forecastContent {
			&>div {
				padding-left: 8px;
				padding-right: 8px;
			}
		}

		& .forecastHeader {
			& .matchDate {
				display: none;
			}
		}

		& .forecastFooter {
			border-top: none;
			flex-direction: column;
			align-items: stretch;
			padding: 0;
		
			& .userStats {
				padding: 0 8px 20px 8px;
				margin: 0;
				justify-content: flex-start;
				padding-bottom: 10px;
				border-bottom: 1px solid #F4F4F4;		
				& .userProfit {
					p {
						display: none;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.forecast {
		& .forecastHeader {

			& .gameInfo,
			& .matchDate {
				font-size: 11px;
				line-height: 13px;
			}
		}

		& .forecastContent {
			padding-top: 15px;
			padding-bottom: 20px;

			&>div {
				&.mathPreview {
					& .matchTitle {
						font-size: 18px;
						line-height: 22px;
					}

					& .profit {
						font-size: 14px;
						line-height: 17px;
						padding: 6px 10px 4px 17px;
					}
				}

				&.matchStats {
					& .profitStats {
						flex-wrap: wrap;
						justify-content: space-between;

						& .profitStat {
							margin-bottom: 14px;

							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
				&.matchDescription {
					-webkit-line-clamp: 6;
				}
			}
		}
	}
}