@import url('./assets/fonts/roboto.css');


body {
	font-family: "Roboto";
	z-index: 1;
}

button:hover {
	opacity: .7;
}

.app-container {
	width: 65%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 180px auto 250px;
}

.app-wrapper {
	position: relative;
}

.app-content {
	padding: 26px 75px;
}

.app-content .pageName {
	font-size: 22px;
	line-height: 27px;
	font-family: 'Roboto Medium';
	color: #343638;
	text-transform: uppercase;
}



@media screen and (max-width: 1600px) {
	.app-container {
		width: 75%;
	}	
}

@media screen and (max-width: 1400px) {
	.app-container {
		width: 85%;
	}	
}
@media screen and (max-width: 1224px) {
	.app-container {
		width: 90%;
	}	
	.app-content {
		padding: 10px 15px;
		overflow: hidden;
	}	
}
@media screen and (max-width: 1024px) {
	.app-container {
		grid-template-columns: 180px auto;
	}	
}

@media screen and (max-width: 768px) {
	.app-container {
		width: 100%;
		grid-template-columns: 1fr;
	}
	.app-content {
		padding: 10px 15px;
		overflow: hidden;
	}	
}