@import url('./assets/fonts/roboto.css');


body {
	font-family: "Roboto";
	z-index: 1;
}

button:hover {
	opacity: .7;
}

.app-container {
	width: 65%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 170px auto 250px;
	margin-top: 60px;
}

.app-wrapper {
	position: relative;
}

.app-content {
	padding: 26px 75px;
}

.app-content .pageName {
	font-size: 22px;
	line-height: 27px;
	font-family: 'Roboto Medium';
	color: #343638;
	text-transform: uppercase;
}