@import url('./assets/fonts/font.css');


body {
	font-family: "Roboto";
	z-index: 1;
	overflow-y: scroll;
}

button:hover {
	opacity: .8;
}

.app-container {
	width: 65%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 180px auto 250px;
}

.app-wrapper {
	position: relative;
}

.app-content {
	padding: 26px 75px;
	position: relative;
	min-width: 100%;
    box-sizing: border-box;
	// & .pageName {
	// 	font-size: 22px;
	// 	line-height: 27px;
	// 	font-family: 'Roboto Medium';
	// 	color: #343638;
	// 	text-transform: uppercase;
	// 	text-align: center;
	// 	margin-right: 10px;
	// }

	// & .pageHeader {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	margin-bottom: 30px;

	// 	& .pageHeaderOptions {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		align-items: center;

	// 		& .showSelectorsBtn {
	// 			color: #A8ABAF;
	// 			font-size: 22px;
	// 			transition: .2s;
	// 			display: none;
	// 			&.active {
	// 				color: #F7971D;
	// 			}
	// 		}
	// 	}
	// }
}
// .filters {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: baseline;
// 	position: relative;
// 	flex-wrap: wrap-reverse;
// 	margin-bottom: 12px;
// 	&>div:nth-child(2) {
// 		margin-bottom: 20px;
// 	}
// }


@media screen and (max-width: 1600px) {
	.app-container {
		width: 75%;
	}

	.app-content {
		padding: 26px 45px;
	}
}

@media screen and (max-width: 1400px) {
	.app-container {
		width: 85%;
	}

	.app-content {
		padding: 26px 25px;
	}
}

@media screen and (max-width: 1224px) {
	.app-container {
		width: 95%;
	}

	.app-content {
		padding: 26px 15px;
	}
}

@media screen and (max-width: 1024px) {
	.app-container {
		grid-template-columns: 180px auto;
	}
}

@media screen and (max-width: 768px) {
	.app-container {
		width: 100%;
		grid-template-columns: 1fr;
	}

	.app-content {
		padding-bottom: 50px;
	}

}

@media screen and (max-width: 480px) {
	body {
	overflow-y: auto;

	}
	.pageHeader {
		flex-direction: column;
		& .pageHeaderOptions {
			align-items: flex-start!important;

			& .pageName {
				margin-bottom: 20px;
			}
			& .showSelectorsBtn {
				display: block!important;
			}
		}
	}

	.pageName {
		font-size: 20px;
		line-height: 24px;
	}
}


// FILTERS
// @media screen and (max-width: 1124px) {
// 	.filters {
// 		flex-direction: column-reverse;
// 		flex-wrap: nowrap;

// 		&>div:nth-child(2) {
// 			margin-bottom: 20px;
// 		}
// 	}
// }

// @media screen and (max-width: 1024px) {
// 	.filters {
// 		flex-direction: column-reverse;

// 		&>div:nth-child(2) {
// 			margin-bottom: 20px;
// 		}
// 	}
// }


// @media screen and (max-width: 900px) {
// 	.filters {
// 		flex-direction: column-reverse;

// 		&>div:nth-child(2) {
// 			margin-bottom: 20px;
// 		}
// 	}
// }

// @media screen and (max-width: 480px) {
// 	.filters {
// 		max-height: 0;
// 		transition: max-height 0.4s ease-out;
// 		overflow: hidden;

// 		&.active {
// 			max-height: 250px;
// 			transition: max-height 0.4s ease-in;
// 		}
// 	}
// }


// .swiper-scrollbar {
// 	background: #F5F5F5!important;
// 	height: 8px!important;
// 	left: 0%!important;
// 	width: 100%!important;
// }

// .swiper-scrollbar-drag {
// 	background: #F7971D!important;
// 	height: 8px!important;
// }