.forecastStats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .leftBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& div {
		color: #A8ABAF;
		margin-right: 10px;
		display: flex;
		& span {
			color: #202E48;
			font-size: 15px;
			line-height: 18px;
			font-family: 'Roboto Regular';
			margin: 0 7px;
			
		}
	}
	& .likes {
		color: #5E687B;
		margin-right: 0;
		& button {		
			&:first-child:hover {
				color: #AA0F0F;
			}
			&:last-child:hover {
				color: #0F971D;
			}
		}
	}
	& .favourites button.active {
		color: #E84755;
	}
}


.positive {
	color: #0F971D!important;
}
.negative {
	color: #AA0F0F!important;
}

@media screen and (max-width: 768px) {
	.forecastStats {
		padding: 10px 8px 10px 8px;
	}
}