.forecastStats {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.leftBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forecastStats div {
	color: #A8ABAF;
	margin-right: 10px;
}

.forecastStats div span {
	color: #202E48;
	font-size: 15px;
	line-height: 18px;
	font-family: 'Roboto Regular';
	margin: 0 7px;
}

.forecastStats .likes {
	color: #5E687B;
	margin-left: 20px;
	margin-right: 0;
}

.forecastStats>div span.positive {
	color: #0F971D;
}

.forecastStats>div span.negative {
	color: #AA0F0F;
}

.forecastStats .favourites button.active {
	color: #E84755;
}