.user {
	border: 1px solid #F4F4F4;
	border-radius: 7px;

	&>div {
		padding: 0 20px;
	}

	& .userInfo {
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #F4F4F4;

		& .userDetails {
			display: flex;
			align-items: center;
			justify-content: stretch;


			& img {
				width: 54px;
				height: 54px;
				display: block;
			}

			& .rightBlock {
				margin: 0 10px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;

				& .nickName {
					font-family: 'Roboto Medium';
					font-size: 24px;
					line-height: 29px;
					color: #343638;
					margin-bottom: 5px;
				}

				& .userBalance {
					display: flex;

					& .bank {
						margin-right: 10px;

						font-size: 16px;
						line-height: 19px;
						font-family: 'Roboto Medium';
						letter-spacing: 0px;
						color: #393F4D;

						& span {
							font-family: 'Roboto';
							text-transform: uppercase;
						}
					}

					& .roi {
						font-family: 'Roboto';
						font-size: 16px;
						line-height: 19px;
						color: #393F4D;

						& span {
							margin-right: 5px;
							font-family: 'Roboto Medium';
						}
					}
				}
			}
		}

		& .subscribeBtn {
			border-radius: 5px;
			padding: 9px 20px;
			border: 1px solid #E5E2E2;
			color: #343638;
			font-family: 'Roboto Medium';
			font-size: 14px;
			line-height: 17px;
			display: flex;
			align-self: flex-start;

			& span {
				font-size: 20px;
				margin-right: 6px;
			}
		}
	}

	& .userStats {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #F4F4F4;
		display: flex;
		align-self: center;
		justify-content: space-between;

		&>div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-right: 10px;

			&:last-child {
				margin-right: 0px;
			}


			& p:first-child {
				margin-bottom: 6px;
				text-align: center;

				font-family: 'Roboto';
				font-size: 14px;
				line-height: 17px;
				color: #343638;
				opacity: 0.54;
			}

			& p:nth-child(2) {
				font-family: 'Roboto Medium';
				font-size: 18px;
				line-height: 22px;
				opacity: 1;
				color: #393F4D;
			}
		}
	}

	& .userListsSelector {
		display: flex;
		align-items: center;

		& .selector {
			margin-right: 30px;
			padding-top: 15.5px;
				padding-bottom: 12px;
			&:last-child {
				margin-right: 0;
			}
			

			& label {
				font-size: 15px;
				line-height: 18px;
				color: #343638;
				padding-top: 15.5px;
				padding-bottom: 11px;
				&:hover {
					cursor: pointer;
				}				
			}				

			& input[type=radio] {
				display: none;
			}
			& input[type=radio]:checked + label {
				font-family: 'Roboto Medium';
				border-bottom: 3px solid #F7971D;
			}
		}
	}

}

.positive {
	color: #0F971D !important;
}

.negative {
	color: #AA0F0F !important;
}

.neutral {
	color: #0F19AA !important;
}