.selectors {
	background: #fff;
	box-shadow:none;
	border-radius: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0 4px;
}

.selectors.fillBg, .selectors:not(.fillBg) .selector input[type=radio]:checked ~ label  {
	background: #F9F9F9;
	box-shadow: 0px 0px 6px #0000001C;
	border-radius: 6px;
}

.selector, .selectors:not(.fillBg) .selector label {
	padding: 7px 13px;
}

.selectors:not(.fillBg) .selector {
	padding: 8px 0;
}

.selector input[type=radio] {
	display: none;
}

.selector label{
	font-size: 16px;
	line-height: 19px;
	font-family: 'Roboto Regular';
	color: #5E687B;
}
.selector label:hover{
	cursor: pointer;
	
}
.selector input[type=radio]:checked + label {
	color: #202E48;
	font-family: 'Roboto Medium';
}



.selectors.dropdown .selector[data-active=false] {
	display: none;
}

.selectors.dropdown  {
	display: flex;
	flex-direction: column;
}

.selectors.dropDownVisible {
    box-shadow: 0 5px 10px -5px #333;
} 
.selectors.dropDownVisible .selector {
	display: block!important;
} 