.mainBlock {
	& .blockHeader {
		margin-bottom: 30px;
		font-family: 'Roboto Medium';
		font-size: 22px;
		line-height: 27px;
		color: #343638;
		text-transform: uppercase;
	}

	& .navLinkBtn button {
		margin: 22px 0 59px 0;		
	}

	& .contentBlock {
		border: 1px solid #E5E2E2;
		border-radius: 7px;

		& .contentBlockHeader {
			display: flex;
			justify-content: space-between;
			padding: 17px;

			& .toggleButton {
				font-size: 24px;
				transition: .4s;
			}
		}

		& h1 {
			font-family: 'Roboto Medium';
			font-size: 18px;
			line-height: 22px;
			color: #343638;
			text-transform: uppercase;
		}

		& .contentBlockList {
			max-height: 0;
			transition: max-height 0.25s ease-out;
			overflow: hidden;
		}

		&.contentHidden {
			& .contentBlockList {
				max-height: 500px;
				transition: max-height 0.25s ease-in;
			}

			.contentBlockHeader .toggleButton {
				transform: rotate(180deg);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.mainBlock > div:last-child .navLinkBtn button {
		margin-bottom: 0;		
	}
}