.blockHeader {
	margin-bottom: 30px;
	font-family: 'Roboto Medium';
	font-size: 22px;
	line-height: 27px;
	color: #343638;
	text-transform: uppercase;
}

.navLinkBtn button {
	margin: 48px 0 59px 0;
}

.contentBlock {
	border: 1px solid #E5E2E2;
	border-radius: 7px;
}


.contentBlock .contentBlockHeader {
	display: flex;
	justify-content: space-between;
	padding: 17px;
}
.contentBlock .contentBlockHeader .toggleButton {
	font-size: 24px;
}
.contentBlock h1 {
	font-family: 'Roboto Medium';
	font-size: 18px;
	line-height: 22px;
	color: #343638;
	text-transform: uppercase;
}