.bookmakersList {
	width: 100%;
	border-radius: 7px;
	border: 1px solid #E5E2E2;

	&.isMainpage {
		border: none;
		border-top: 1px solid #E5E2E2;
		border-radius: 0px;
	}

	& .listHeader,
	& .bookmaker {
		display: grid;
		grid-template-columns: 1fr 6fr 1fr 3fr 2fr 2fr 5fr;
		grid-gap: 10px;
		justify-items: center;
		align-items: center;

		& div {
			font-size: 16px;
			line-height: 19px;
			color: #343638;
		}
		& .matchInfo {  
			justify-self: start;
		}
	}

	& .listHeader {
		padding: 7px 16px;
		background: #F5F5F5;
		& div {
			opacity: 0.76;
		}
	}

	& .bookmaker {
		padding: 7px 16px;
		border-bottom: 1px solid #E5E2E2;;	

		&:last-child {
			border-bottom: none;	
		}

		& .company img {
			height: 50px;
		}
		& .rating {
			font-size: 17px;
			line-height: 20px;
		}
		& .bonus {
			font-size: 17px;
			line-height: 20px;
			font-family: 'Roboto Medium';
			color: #D57F11;
			white-space: nowrap;
			& span {
				font-size: 14.5px;
			}
		}
		& .review {
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			color: #343638;
		}

		& .link button a{
			padding: 12px 33px;
			border: 1px solid #5E687B;
			border-radius: 7px;
			font-size: 14px;
			line-height: 17px;
			color: #222A39;
			text-transform: uppercase;
		}	
	}
}

.positive {
	color: #0F971D !important;
}
.neutral {
	color: #D57F11 !important;
}
.negative {
	color: #AA0F0F !important;
}


@media screen and (max-width: 768px) {
	.matchList {
		& .listHeader,
		& .match {
			grid-gap: 10px;
			padding: 7px 12px;
		}
		
	}
}

@media screen and (max-width: 480px) {
	.matchList {
		& .listHeader,
		& .match {
			grid-gap: 6px;
			padding: 7px 10px;
			& div {
				font-size: 13px;
				line-height: 15px;
			}
		}
		& .listHeader .date {
			& span {
				display: none;
			}
		}
		& .match {
			& .date {
				& .dateDay {
					font-size: 10px;
					line-height: 13px;
				}
				& .dateTime {
					font-size: 14px;
					line-height: 17px;
				}
			}
			& .sportImg img{
				width: 15px;
			}
			& .matchInfo {
				& .matchName {
					font-size: 13px;
					line-height: 15px;
				}
				& .tournamentName {
					font-size: 10px;
					line-height: 13px;
				}
			}
			& .betValue {
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}