.commentsBlock {
	margin-top: 50px;

	& .commentsHeader {
		font-size: 21px;
		line-height: 25px;
		font-family: 'Roboto Medium';
		color: #343638;
	}

	& .noComments {
		font-size: 17px;
		line-height: 26px;
		text-align: center;
	}

	& .sendCommentBlock {
		position: relative;
		padding: 0 20px;
		margin: 38px 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		border: 1px solid #E5E2E2;
		border-radius: 7px;
		min-height: 50px;
		transition: min-height 0.25s;
		overflow: hidden;

		& .sendCommentInput {
			border: none;
			width: 100%;
			padding: 15px 0px;
			color: #818283;
			font-size: 16px;
			line-height: 19px;
			height: 20px;
			resize: none;
		}

		& .sendBlock {
			position: absolute;
			position: relative;
			display: flex;

			& .attach {
				& .attachFile {
					padding-top: 10px;

					&:hover {
						cursor: pointer;
					}
				}

				& input {
					display: none;
				}
			}

			& .sendBtn {
				display: none;
				padding: 7px 45px 8px 45px;
				box-sizing: border-box;
				color: #202E48;
				font-size: 17px;
				line-height: 20px;
				font-family: 'Roboto Medium';
				background: #E5E2E2;
				border-radius: 6px 6px 4px 4px;

				&:hover {
					background: #F7971D;
				}
			}
		}



		&.active {
			min-height: 160px;
			transition: min-height 0.15s;
			flex-direction: column;

			& .sendBlock {
				left: 15px;
				position: absolute;
				bottom: 0;
				width: calc(100% - 30px);


				padding-bottom: 16px;
				// width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				& .sendBtn {
					display: block;
				}
			}

			& .sendCommentInput {
				padding-bottom: 40px;
				height: auto;
			}
		}
	}


	& .comment {
		margin-bottom: 28px;
		width: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;

		&:last-child {
			margin-bottom: 0px;
		}

		& .commentHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& img {
				width: 32px;
				height: 32px;
			}

			& .info {
				justify-self: flex-start;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				width: 100%;
				margin-left: 10px;
				margin-right: 10px;

				& .nickName {
					color: #343638;
					font-size: 15px;
					line-height: 18px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}

				& .replyBlock {

					& .replyImg,
					& .replyNickname {
						display: none;
					}
				}

				& .date,
				& .replyNickname {
					color: #5E687B;
					font-size: 12px;
					line-height: 14px;
					opacity: 0.7;
					white-space: nowrap;
				}
			}
		}

		& .contentText {
			margin: 18px 0 13px 0;
			font-size: 16px;
			line-height: 24px;
			color: #4E525A;
		}

		& .replyBtn {
			color: #5E687B;
			font-size: 14px;
			line-height: 17px;
			text-align: left;
			width: auto;
			margin-bottom: 20px;
		}
	}

	& .repliesBlock {
		margin-top: 20px;
		padding: 10px 0 ;
		& .sendCommentBlock {
			margin: 20px 0 10px 0;
		}
	}
	& .comment.reply {
		border-left: 2px solid rgba(216, 216, 216, 0.562);
		padding: 15px 0 15px 30px;
		margin-bottom: 0;

		& .commentHeader {
			& img {
				width: 22px;
				height: 22px;
			}

			& .info {
				justify-self: flex-start;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				width: 100%;

				& .replyBlock {
					margin-left: 35px;
					display: flex;

					& .replyImg {
						display: block;
						width: 18px;
						height: 13px;
						margin-right: 5px;
					}

					& .replyNickname {
						margin-right: 45px;
						display: block;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
				}

			}
		}

	}

	& .comment.lastReply {
		& .replyBtn {
			margin-bottom: 0px;
		}
	}
}


@media screen and (max-width: 480px) {
	.commentsBlock {
		margin-top: 30px;

		& .commentsHeader {
			font-size: 18px;
			line-height: 22px;
		}

		& .noComments {
			font-size: 15px;
			line-height: 24px;
		}

		& .comment {
			margin-bottom: 30px;

			& .commentHeader {
				& img {
					width: 22px;
					height: 22px;
				}
			}

			& .contentText {
				margin: 13px 0 13px 0;
				font-size: 15px;
				line-height: 21px;
			}
		}

		& .comment.reply {
			padding: 15px 0 15px 15px;

			& .commentHeader {
				& img {
					width: 22px;
					height: 22px;
				}

				& .info {
					display: flex;
					flex-direction: column-reverse;
					align-items: flex-start;
					justify-content: flex-start;
					width: 100%;
					margin-right: 15px;

					& .replyBlock {
						margin-left: 0px;

						& .replyNickname {
							margin-right: 10px;
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
						}
					}

				}
			}
		}
	}
}
