header {
	height: 60px;
	background: #202E48;
	padding: 0 17.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	height: 45px;
}

.search_block {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_block input {
	background: #515C70 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 6px;
	height: 34px;

	color: #D5D8DD;
	font-size: 16px;
	line-height: 19px;
	font-family: "Roboto Light";

	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 10px 3px 40px;
	font-size: 22px;
	line-height: 34px;
	width: 100%;
	box-sizing: border-box;
}

.search_block .searchIcon {
	position: absolute;
	top: 8px;
	left: 10.6px;
	font-size: 18px;
	color: #D5D8DD;
}

::-webkit-input-placeholder {
	color: #D5D8DD;
	font-size: 16px;
	line-height: 19px;
	font-family: "Roboto Light";
}

::-moz-placeholder {
	color: #D5D8DD;
	font-size: 16px;
	line-height: 19px;
	font-family: "Roboto Light";
}

:-ms-input-placeholder {
	color: #D5D8DD;
	font-size: 16px;
	line-height: 19px;
	font-family: "Roboto Light";
}

:-moz-placeholder {
	color: #D5D8DD;
	font-size: 16px;
	line-height: 19px;
	font-family: "Roboto Light";
}


.loginBtn {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto";
	font-size: 17px;
	line-height: 20px;
}

.loginBtn .loginIcon {
	margin-right: 10px;
	font-size: 23px;
}

.commentsHeader {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.commentsHeader .commentsIcon {
	color: #F7971D;
	margin-right: 8px;
}
.commentsHeader span {
	color: #F7971D;
	font-size: 18;
	line-height: 22px;
}