.inputBlock {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	position: relative;

	&.canSeeContent input {
		padding-right: 50px;
	}
	&.isCheckbox div{
		display: block;
	}

	&  label {
		font-size: 12px;
		line-height: 14px;
		color: #818283;
		margin-bottom: 6px;
	}
	& input, & textarea {
		width: 100%;
		color: #343638;
		font-size: 19px;
		line-height: 23px;
		height: 48px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		font-family: 'Roboto';
		border: 1px solid #D5D8DD;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 12px 13px 13px 13px;
		resize: none;
		transition: .3s;
		&.errorInput {
			border: 1px solid #E84755;
		}
		&:disabled {
			background: rgb(240, 240, 240);
		}
	}
	& input[type=checkbox] {
		width: 40px;
		height: 40px;
		align-self: flex-start;
	}
	& textarea {
		height: 150px!important;
	}
	& div {
		display: flex;
		justify-content: center;
		align-items: center;
		& .inputEye {
			position: absolute;
			font-size: 20px;
			right: 17px;
			&:hover {
				cursor: pointer;
			}
		}
	}
	& .arrows {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;
		position: absolute;
		right: 15px;
		font-size: 18px;
		& svg {
			&:hover {
				opacity: .5;
				cursor: pointer;
			}
		}
	}

}
label {
	font-size: 12px;
	line-height: 14px;
	color: #818283;
	margin-bottom: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.inputBlock {
	position: relative;
	& .dropDownElement {
		padding: 12px 13px 13px 13px;
		height: 48px;
		border-radius: 0px;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-start;
		transition: .3s;
		background: #fff;

		&:hover {
			background: #F5F5F5;
			cursor: pointer;
		}
		&.activeDropdownElement {
			border: 1px solid #D5D8DD;
			border-radius: 5px;
			display: flex;
			justify-content: space-between;
			& .dropDownArrow {
				transition: .3s;
			}
		}
		& label {
			color: #343638;
			font-size: 19px;
			line-height: 23px;
			margin: 0;
		}
		& input[type=radio] {
			display: none;
		}
	}
	& .elementsList {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		overflow: hidden;
		top: 66px;
		z-index: 6;
		& .dropDownElement {
			z-index: 7;
			width: 100%;
			border: 1px solid #D5D8DD;
			border-bottom: none;

			

			&:last-child {
				border-bottom: 1px solid #D5D8DD;
				border-radius: 0 0 5px 5px;
			}
		}
	}
}