
.menuFooter {
	// display: none;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-top: 0;
	margin-top: 40px;
	width: 90%;
	& .menuFooterLink {
		display: block;
	}
	& .menuFooterLink, & .languageSelector, & .download, & .copyright {
		font-size: 13px;
		line-height: 15px;
		color: #818283;
		margin-bottom: 19px;
	}
	& .download {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 6px;
		& img {
			width: 100%;
		}
	}
	& .languageSelector {
		position: relative;
		& p {
			&:hover {
				cursor: pointer;
			}
		}
		.languagesList {
			position: absolute;
			left: 33px;
			display: none;
			background: #fff;
			padding: 3px 5px;
			border: 1px solid rgb(179, 179, 179);
			border-radius: 3px;
		
			&.active {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.menuFooter {
		margin: 0;
		padding: 0;
		padding-top: 50px;
		padding-bottom: 30px;
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		& .feedback {
			display: none;
		}
		.menuFooterLink {
			justify-self: flex-end;
			text-align: right;
		}
		& .download, & .copyright {
			grid-column: 1/3;
			text-align: center;
		}
		& .download {
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media screen and (max-width: 480px) {
	.menuFooter {
		& .download {
			width: 100%;
		}
	}
}