.commentsBtn {
	display: flex;
	align-items: center;
	justify-content: left;

}
.commentsBtn .commentsIcon {
	color: #F7971D;
	margin-right: 8px;
}
.commentsBtn span {
	color: #F7971D;
	font-size: 18px;
	line-height: 22px;
}

header .commentsBtn {
	color: #fff;
}
.app-container .commentsBtn {
	background: #F9F9F9;
	box-shadow: 3px -3px 6px #00000029;
	border-radius: 6px 0px 0px 6px;
	transform: rotate(90deg);
	padding: 13px 15px;
	position: absolute;
	left: -69px;
	top: 147px;
}